/* stylelint-disable */
@import "includes/colors";

$sizes: 24, 48, 64, 96, 120, 240, 360;

.o365-persona {
  align-items: center;
  display: flex;
  justify-content: flex-start;

  &--no-flex {
    display: block;
  }

  &--relative {
    display: inline-block;
    position: relative;
  }

  .persona-image-area {
    position: relative;

    + .persona-name {
      margin-left: 8px;
    }
  }

  .persona-image {
    border-radius: 50%;
    overflow: hidden;
  }

  @each $size in $sizes {
    &--size#{$size} {
      .persona-image-area {
        height: $size + px;
        width: $size + px;
      }
    }
  }
}

$personaColors: ('PinkRed10': #750B1C, 'Red20': #A4262C, 'Red10': #D13438, 'Orange20': #CA5010, 'OrangeYellow20': #986F0B, 'Green10': #498205, 'Green20': #0B6A0B, 'Cyan20': #038387, 'Cyan30': #005B70, 'CyanBlue10': #0078D4, 'CyanBlue20': #004E8C, 'Blue10': #4F6BED, 'BlueMagenta30': #5C2E91, 'BlueMagenta20': #8764B8, 'Magenta20': #881798, 'Magenta10': #C239B3, 'MagentaPink10': #E3008C, 'Orange30': #8E562E, 'Gray30': #7A7574, 'Gray20': #69797E);
@each $name, $color in $personaColors {
  .o365-persona-bg--#{$name} {
    background-color: $color;
    color: $white;
  }
}
