<div class="persona-image">
  <img loading="lazy" src="{{ userData['imageSrc'] }}" alt="{{ userData['userData']['displayName'] }} {{ (userData['presenceData']['availability'] is not empty) ? 'status is'|t ~ ' ' ~ userData['presenceData']['availability']|t }}">
</div>
