.o365-outlook-mails {
  padding: 0;
}

.o365-outlook-mails li {
  position: relative;
  margin-bottom: 16px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.o365-outlook-mails li .mail-item--unread {
  font-weight: bold;
}

.o365-outlook-mails li a {
  font-size: 0;
}

.o365-outlook-mails li a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.o365-outlook-mails .o365-outlook-data {
  display: flex;
  overflow: hidden;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  align-items: center;
}

.o365-outlook-mails .o365-outlook-data .subject,
.o365-outlook-mails .o365-outlook-data .date {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.o365-outlook-mails .o365-outlook-data .subject {
  flex: 1 1 auto;
}

.o365-outlook-mails .o365-outlook-data .date {
  flex: 0 0 auto;
  padding-left: 16px;
  text-align: right;
}

.o365-outlook-mails .o365-outlook-from,
.o365-outlook-mails .o365-outlook-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
