/* stylelint-disable */
.o365-persona {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.o365-persona--no-flex {
  display: block;
}
.o365-persona--relative {
  display: inline-block;
  position: relative;
}
.o365-persona .persona-image-area {
  position: relative;
}
.o365-persona .persona-image-area + .persona-name {
  margin-left: 8px;
}
.o365-persona .persona-image {
  border-radius: 50%;
  overflow: hidden;
}
.o365-persona--size24 .persona-image-area {
  height: 24px;
  width: 24px;
}
.o365-persona--size48 .persona-image-area {
  height: 48px;
  width: 48px;
}
.o365-persona--size64 .persona-image-area {
  height: 64px;
  width: 64px;
}
.o365-persona--size96 .persona-image-area {
  height: 96px;
  width: 96px;
}
.o365-persona--size120 .persona-image-area {
  height: 120px;
  width: 120px;
}
.o365-persona--size240 .persona-image-area {
  height: 240px;
  width: 240px;
}
.o365-persona--size360 .persona-image-area {
  height: 360px;
  width: 360px;
}

.o365-persona-bg--PinkRed10 {
  background-color: #750B1C;
  color: #FFFFFF;
}

.o365-persona-bg--Red20 {
  background-color: #A4262C;
  color: #FFFFFF;
}

.o365-persona-bg--Red10 {
  background-color: #D13438;
  color: #FFFFFF;
}

.o365-persona-bg--Orange20 {
  background-color: #CA5010;
  color: #FFFFFF;
}

.o365-persona-bg--OrangeYellow20 {
  background-color: #986F0B;
  color: #FFFFFF;
}

.o365-persona-bg--Green10 {
  background-color: #498205;
  color: #FFFFFF;
}

.o365-persona-bg--Green20 {
  background-color: #0B6A0B;
  color: #FFFFFF;
}

.o365-persona-bg--Cyan20 {
  background-color: #038387;
  color: #FFFFFF;
}

.o365-persona-bg--Cyan30 {
  background-color: #005B70;
  color: #FFFFFF;
}

.o365-persona-bg--CyanBlue10 {
  background-color: #0078D4;
  color: #FFFFFF;
}

.o365-persona-bg--CyanBlue20 {
  background-color: #004E8C;
  color: #FFFFFF;
}

.o365-persona-bg--Blue10 {
  background-color: #4F6BED;
  color: #FFFFFF;
}

.o365-persona-bg--BlueMagenta30 {
  background-color: #5C2E91;
  color: #FFFFFF;
}

.o365-persona-bg--BlueMagenta20 {
  background-color: #8764B8;
  color: #FFFFFF;
}

.o365-persona-bg--Magenta20 {
  background-color: #881798;
  color: #FFFFFF;
}

.o365-persona-bg--Magenta10 {
  background-color: #C239B3;
  color: #FFFFFF;
}

.o365-persona-bg--MagentaPink10 {
  background-color: #E3008C;
  color: #FFFFFF;
}

.o365-persona-bg--Orange30 {
  background-color: #8E562E;
  color: #FFFFFF;
}

.o365-persona-bg--Gray30 {
  background-color: #7A7574;
  color: #FFFFFF;
}

.o365-persona-bg--Gray20 {
  background-color: #69797E;
  color: #FFFFFF;
}

/*# sourceMappingURL=persona.general.css.map */
