/* stylelint-disable */
@import "../includes/colors";

.o365-persona {
  .persona-presence {
    background-color: $green;
    border-radius: 50%;
    border: 2px solid $white;
    bottom: -2px;
    box-sizing: border-box;
    font-size: 0;
    overflow: hidden;
    position: absolute;
    right: -2px;

    &--availableidle,
    &--busyidle,
    &--inactive,
    &--outofoffice,
    &--presenceunknown,
    &--offwork,
    &--offline {
      &::after {
        background-color: $white;
        border-radius: 50%;
        content: '';
        display: block;
        height: 6px;
        left: 1px;
        position: absolute;
        top: 1px;
        width: 6px;
      }
    }

    &--away,
    &--inactive,
    &--berightback {
      background-color: $orange;
    }

    &--busy,
    &--busyidle,
    &--presenting,
    &--inacall,
    &--inaconferencecall,
    &--inameeting,
    &--urgentinterruptionsonly,
    &--donotdisturb {
      background-color: $red;
    }

    &--presenting,
    &--inacall,
    &--inaconferencecall,
    &--inameeting,
    &--urgentinterruptionsonly,
    &--donotdisturb {
      &:before {
        color: $white;
        content: '-';
        display: block;
        font-size: 16px;
        line-height: 12px;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }

    &--blocked {
      background-color: $red;
    }

    &--presenceunknown,
    &--outofoffice {
      background-color: $purple;
    }

    &--offwork,
    &--offline {
      background-color: $grey;
    }
  }

  &--size24x24 {
    .persona-presence {
      height: 12px;
      width: 12px;
    }
  }

  &--size44x44,
  &--size48x48 {
    .persona-presence {
      height: 16px;
      width: 16px;

      &--availableidle,
      &--busyidle,
      &--outofoffice,
      &--presenceunknown,
      &--offwork,
      &--inactive,
      &--offline {
        &::after {
          height: 8px;
          left: 2px;
          top: 2px;
          width: 8px;
        }
      }
    }
  }

  &--size64x64 {
    .persona-presence {
      height: 18px;
      width: 18px;

      &--availableidle,
      &--busyidle,
      &--outofoffice,
      &--presenceunknown,
      &--offwork,
      &--inactive,
      &--offline {
        &::after {
          left: 2px;
          height: 10px;
          top: 2px;
          width: 10px;
        }
      }
    }
  }

  &--size96x96 {
    .persona-presence {
      height: 26px;
      width: 26px;

      &--availableidle,
      &--busyidle,
      &--outofoffice,
      &--presenceunknown,
      &--offwork,
      &--inactive,
      &--offline {
        &::after {
          left: 2px;
          height: 18px;
          top: 2px;
          width: 18px;
        }
      }

      &--presenting,
      &--inacall,
      &--inaconferencecall,
      &--inameeting,
      &--urgentinterruptionsonly,
      &--donotdisturb {
        &:before {
          font-size: 22px;
          line-height: 22px;
        }
      }
    }
  }

  &--size120x120 {
    .persona-presence {
      height: 30px;
      width: 30px;

      &--availableidle,
      &--busyidle,
      &--outofoffice,
      &--presenceunknown,
      &--offwork,
      &--inactive,
      &--offline {
        &::after {
          height: 20px;
          left: 3px;
          top: 3px;
          width: 20px;
        }
      }

      &--presenting,
      &--inacall,
      &--inaconferencecall,
      &--inameeting,
      &--urgentinterruptionsonly,
      &--donotdisturb {
        &:before {
          font-size: 26px;
          line-height: 24px;
        }
      }
    }
  }

  &--size240x240 {
    .persona-presence {
      border-width: 4px;
      height: 62px;
      width: 62px;

      &--availableidle,
      &--busyidle,
      &--outofoffice,
      &--presenceunknown,
      &--offwork,
      &--inactive,
      &--offline {
        &::after {
          height: 46px;
          left: 4px;
          top: 4px;
          width: 46px;
        }
      }

      &--presenting,
      &--inacall,
      &--inaconferencecall,
      &--inameeting,
      &--urgentinterruptionsonly,
      &--donotdisturb {
        &:before {
          font-size: 54px;
          line-height: 54px;
        }
      }
    }
  }

  &--size360x360 {
    .persona-presence {
      border-width: 4px;
      height: 80px;
      width: 80px;

      &--availableidle,
      &--busyidle,
      &--outofoffice,
      &--presenceunknown,
      &--offwork,
      &--inactive,
      &--offline {
        &::after {
          height: 60px;
          left: 6px;
          top: 6px;
          width: 60px;
        }
      }

      &--presenting,
      &--inacall,
      &--inaconferencecall,
      &--inameeting,
      &--urgentinterruptionsonly,
      &--donotdisturb {
        &:before {
          font-size: 72px;
          line-height: 72px;
        }
      }
    }
  }
}
