.o365-links-settings .form-type--checkbox,
.o365-links-settings .form-type--checkbox label {
  display: flex;
  align-items: center;
}

.o365-links-settings .form-type--checkbox label,
.o365-links-settings .form-type--checkbox label .name {
  margin-left: 10px;
}
