<div class="sharepoint-file-search-form">
  {{ form }}
</div>
<div class="sharepoint-file-search-results">
  {{ results }}

  {% if searchFurther is not empty %}
    <a href="{{ searchFurther }}" rel="noopener" target="_blank" class="btn btn-secondary btn-lg btn-raised waves-effect waves-btn waves-light" title="{{ 'This link opens in a new window' | t }}">{{ 'More search results on Sharepoint' | t }}</a>
  {% endif %}

</div>
</div>
