.o365-calendar-attendees {
  display: flex;
  margin-top: 12px;
}

.o365-calendar-attendee {
  overflow: hidden;
  width: 40px;
  height: 40px;
  margin-right: 8px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}

.o365-calendar-attendee--remaining {
  color: initial;
  background-color: #e1dfdd;
}

.o365-outlook-calendar-items {
  padding: 0;
}

.o365-outlook-calendar-items li {
  margin-bottom: 16px;
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}

.o365-calendar--item {
  position: relative;
}

.o365-calendar--item a {
  font-size: 0;
}

.o365-calendar--item a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
}

.o365-calendar--item--calendar-subject {
  font-size: inherit;
}

.o365-calendar-join-url {
  margin-bottom: 16px;
}
