.o365-profile-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.o365-profile-block--image {
  margin-right: 20px;
}

.o365-profile-block--image img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
