<div class="card__body">
  {% if list['#items'] is empty and no_items_text is not empty %}
    <p>{{ no_items_text }}</p>
  {% else %}
    {{ list }}
  {% endif %}

  <a href="https://outlook.office.com/calendar" rel="noopener" target="_blank" class="readmore--calendar {{ readmore_class }}">{{ 'Show full calendar' | t }}</a>
</div>
